@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap');

body{
    font-family: 'EB Garamond', serif;
    font-size: 1.3em;
}


@keyframes spin {
    from{
    transform: rotateY(0deg);
    }
    to{
    transform: rotateY(360deg);
    }
   }

body{
    background-color: black;
    color: crimson;
}

#container{
    text-align: center;
    padding-top: 50px;
}



#game{
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

#information{
    color: blueviolet;
     padding-left: 20px;
    padding-right: 20px;
}

#inventory-title{
    color: rgb(189, 128, 247);
    color: rgb(189, 128, 247);
    padding-top: 50px;
}
#inventory{
    color: rgb(189, 128, 247);
    color: rgb(189, 128, 247);
    padding-right: 20px;
    
}

#img-container{
    text-align: center;
}

img{
    width: 150px;
    height: 150px;
}

.imageSpin{
    animation-name: spin;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

#map{
    padding-left: 250px;
}

#end{
    padding-top: 9px;
    text-align: center;
}
